<div class="content">
<h2>Contact</h2>

Hubungi kami melalui :<br/><br/>
<i class="fa fa-envelope-o fa-fw"></i> pragbookshelf@gmail.com<br/>
<i class="fa fa-whatsapp fa-fw"></i> 089656999454<br/>
<i class="fa fa-facebook-official fa-fw"></i> Pragmatic Bookshelf Online

</div>