<div class="content">
<h2>FAQ</h2>

Q: Apakah saya harus login untuk dapat memesan buku?<br/>
A: Tidak,bisa memesan tanpa login. Login hanya untuk admin.<br/>
<br/>
Q: Berapa lama buku yang saya pesan akan sampai?<br/>
A: Selama ini paling lama 7 hari<br/>
<br/>
Q: Apakah saya bisa memesan buku yang tidak ada pada katalog?<br/>
A: Bisa. Silahkan hubungi kontak yang tertera pada menu kontak<br/>
<br/>
Q: Apakah semua buku asli/original<br/>
A: Ya, kami tidak menyediakan barang bajakan<br/>
<br/>
Q: Apakah buku A atau B stoknya masih ada?<br/>
A: Selama masih ada di katalog artinya barang masih tersedia<br/>
</div>