<div class="content">
<h2>News</h2>

Pragmatic Bookshelf Online kini semakin mempermudah pengunjung dengan menambahkan sebuah metode pembayaran. Yaitu menggunakan Credit Card atau Kartu Kredit.<br/><br/>

Pemesanan buku yang tidak tertera pada katalog kami kini dapat dilakukan dengan menghubungi kontak yang tertera pada menu kontak. Kami akan memberikan pelayanan terbaik untuk mencari buku apapun yang anda inginkan .<br/><br/>

Pragmatic Bookshelf Online sedang membutuhkan seorang admin untuk mengelola website kami. Info lebih lanjut, hubungi kontak kami pada menu Kontak
</div>